PoolSmartzFlow.json
[
    {
        "id": "453d4ed1840b61b3",
        "type": "tab",
        "label": "PoolSmartz",
        "disabled": false,
        "info": ""
    },
    {
        "id": "93d4e1ad9cc5a22f",
        "type": "subflow",
        "name": "HeatPumpTemp (2)",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "9a752d9f3ed96cc3",
        "type": "subflow",
        "name": "ToggleButton (2)",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 180,
                "y": 200,
                "wires": [
                    {
                        "id": "b0f29d093bc6adc6"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1000,
                "y": 320,
                "wires": [
                    {
                        "id": "f44d950aac344466",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "16ab3c642913644b",
        "type": "ui_tab",
        "name": "Pool",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8537ef61ac58223a",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "06518e33fba2d4d0",
        "type": "ui_tab",
        "name": "Schedule",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2b98fe3a13a33aaa",
        "type": "ui_group",
        "name": "Status",
        "tab": "fa05bad.6060148",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7a81c56503e9c2c6",
        "type": "ui_group",
        "name": "Control",
        "tab": "fa05bad.6060148",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c67d2a72308ddb10",
        "type": "ui_group",
        "name": "Equipment",
        "tab": "2c2f3f43.feb09",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "500f11f625454da3",
        "type": "ui_group",
        "name": "Sched",
        "tab": "6043f90a.e67ea8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2147be2e11b869db",
        "type": "ui_group",
        "name": "HeatPump",
        "tab": "fa05bad.6060148",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3807f29f.3849be",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#5200cc",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fa05bad.6060148",
        "type": "ui_tab",
        "name": "Pool",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fcf5df1a.8e1d7",
        "type": "ui_group",
        "name": "Status",
        "tab": "fa05bad.6060148",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4dc73966.be52d8",
        "type": "ui_group",
        "name": "Control",
        "tab": "fa05bad.6060148",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2c2f3f43.feb09",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f4e9037.c0a4c",
        "type": "ui_group",
        "name": "Equipment",
        "tab": "2c2f3f43.feb09",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6043f90a.e67ea8",
        "type": "ui_tab",
        "name": "Schedule",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "92f6daf9.4f0d88",
        "type": "ui_group",
        "name": "Sched",
        "tab": "6043f90a.e67ea8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a44a11b0.ad642",
        "type": "ui_group",
        "name": "HeatPump",
        "tab": "fa05bad.6060148",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f2da61.3353758",
        "type": "ui_group",
        "d": true,
        "name": "AutomationExamples",
        "tab": "d6d3c358.5fb46",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e2c488d6.e06ad8",
        "type": "ui_group",
        "d": true,
        "name": "Flight",
        "tab": "d6d3c358.5fb46",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d6d3c358.5fb46",
        "type": "ui_tab",
        "name": "UIToggles",
        "icon": "radio_button_checked",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6b9f2dcf49db9665",
        "type": "function",
        "z": "93d4e1ad9cc5a22f",
        "name": "SensorsURL",
        "func": "var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/sched\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 140,
        "wires": [
            [
                "1c5dc4fb1bb50308"
            ]
        ]
    },
    {
        "id": "c99c5c55712287ee",
        "type": "function",
        "z": "93d4e1ad9cc5a22f",
        "name": "SetTempValues",
        "func": "msg.payload = Number(msg.payload.Schedule.HeatPump.Sensor.Temp*1.8+32)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 140,
        "wires": [
            [
                "1f8ba2c2c1a54f2a"
            ]
        ]
    },
    {
        "id": "2ab798633d24a417",
        "type": "http request",
        "z": "93d4e1ad9cc5a22f",
        "name": "HTTP /setSensors",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1c5dc4fb1bb50308",
        "type": "http request",
        "z": "93d4e1ad9cc5a22f",
        "name": "HTTP Get Sensors",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "2c1dd7f97d0b0dee",
                "c99c5c55712287ee"
            ]
        ]
    },
    {
        "id": "67495b4e7257cc8b",
        "type": "ui_ui_control",
        "z": "93d4e1ad9cc5a22f",
        "name": "Change Tab",
        "events": "change",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "e9cb3a8e70114069"
            ]
        ]
    },
    {
        "id": "eead1b8aab69aacf",
        "type": "function",
        "z": "93d4e1ad9cc5a22f",
        "name": "setSensors payload",
        "func": "var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/setSensors\";\nmsg.payload = {\n    HeatPump: {State: msg.payload},\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 200,
        "wires": [
            [
                "2ab798633d24a417"
            ]
        ]
    },
    {
        "id": "4e19bdfc215540e4",
        "type": "ui_switch",
        "z": "93d4e1ad9cc5a22f",
        "name": "HeatPump On/Off",
        "label": "Pool Heater",
        "tooltip": "",
        "group": "a44a11b0.ad642",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "msg.oncolor",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "msg.offcolor",
        "animate": true,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "eead1b8aab69aacf"
            ]
        ]
    },
    {
        "id": "1f8ba2c2c1a54f2a",
        "type": "ui_slider",
        "z": "93d4e1ad9cc5a22f",
        "name": "Temp",
        "label": "Temp",
        "tooltip": "",
        "group": "a44a11b0.ad642",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "65",
        "max": "92",
        "step": 1,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "4429fba34728bc5a"
            ]
        ]
    },
    {
        "id": "4429fba34728bc5a",
        "type": "function",
        "z": "93d4e1ad9cc5a22f",
        "name": "setSensors Temp ",
        "func": "var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/setSensors\";\nmsg.payload = {\n    HeatPump: {Temp: (msg.payload-32)*.5556},\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1070,
        "y": 140,
        "wires": [
            [
                "2ab798633d24a417"
            ]
        ]
    },
    {
        "id": "2c1dd7f97d0b0dee",
        "type": "function",
        "z": "93d4e1ad9cc5a22f",
        "name": "Setup Switch",
        "func": "msg.payload = msg.payload.Schedule.HeatPump.Sensor.State;\nif (msg.payload == \"on\"){\n    msg.label = \"on\";\n    //node.send({ ui_control: { oncolor: \"#ff0000\" }, label: \"on\", payload: true });   \n} else {\n    //node.send({ ui_control: { offcolor: \"#008000\" }, label: \"off\", payload: false});\n    msg.label = \"off\";\n}\nmsg.oncolor = \"#ff0000\";\nmsg.offcolor = \"008000\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 200,
        "wires": [
            [
                "4e19bdfc215540e4"
            ]
        ]
    },
    {
        "id": "e9cb3a8e70114069",
        "type": "switch",
        "z": "93d4e1ad9cc5a22f",
        "name": "Watch for Pool Tab",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Pool",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "6b9f2dcf49db9665"
            ]
        ]
    },
    {
        "id": "b115a0e189685d7b",
        "type": "catch",
        "z": "93d4e1ad9cc5a22f",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "103ebb149cd0a966"
            ]
        ]
    },
    {
        "id": "103ebb149cd0a966",
        "type": "debug",
        "z": "93d4e1ad9cc5a22f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 520,
        "wires": []
    },
    {
        "id": "f44d950aac344466",
        "type": "switch",
        "z": "9a752d9f3ed96cc3",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CONTROL",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "CONTROL",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b0f29d093bc6adc6",
        "type": "function",
        "z": "9a752d9f3ed96cc3",
        "name": "Initialize-switch button state",
        "func": "\nvar state = context.get(\"state\")||\"OFF\";\n\n//  Look for a !X message to get values -- no button push.\nif ( msg.topicSet == \"ON\" || msg.topicSet == \"OFF\"){\n    context.set(\"colourOFF\", msg.colourOFF);\n    context.set(\"colourON\", msg.colourON);\n    context.set(\"textOFF\", msg.textOFF);\n    context.set(\"textON\", msg.textON);\n    context.set(\"fontOFF\", msg.fontOFF);\n    context.set(\"fortON\", msg.fontON);\n    context.set(\"payloadOFF\", msg.payloadOFF);\n    context.set(\"payloadON\", msg.payloadON);\n    state = msg.topicSet;\n}\n// If button pushed change state.\nif ( msg.payload == \"X\" )\n{\n    if (state == \"OFF\") {\n        state = \"ON\";\n    } else { // topicSet should be \"STOP\"\n        state = \"OFF\"\n    }\n    context.set(\"state\", state);\n}\nif (state == \"OFF\")\n{\n    //  Condition OFF\n    msg.payload = context.get(\"payloadOFF\");\n    msg.colour = context.get(\"colourOFF\");\n    msg.txt = context.get(\"textOFF\");\n    msg.fontclr = context.get(\"fontOFF\");\n} else\n{\n    //  Condition ON\n    msg.payload = context.get(\"payloadON\");\n    msg.colour = context.get(\"colourON\");\n    msg.txt = context.get(\"textON\");\n    msg.fontclr = context.get(\"fontON\");\n}\n \nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 280,
        "wires": [
            [
                "50a79dc125afc1a9",
                "f44d950aac344466"
            ]
        ]
    },
    {
        "id": "50a79dc125afc1a9",
        "type": "ui_button",
        "z": "9a752d9f3ed96cc3",
        "name": "ToggleButton",
        "group": "4dc73966.be52d8",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{msg.txt}}",
        "tooltip": "",
        "color": "{{msg.fontclr}}",
        "bgcolor": "{{msg.colour}}",
        "icon": "",
        "payload": "X",
        "payloadType": "str",
        "topic": "CONTROL",
        "topicType": "str",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "b0f29d093bc6adc6"
            ]
        ]
    },
    {
        "id": "ab00bf89e67aa2f5",
        "type": "inject",
        "z": "453d4ed1840b61b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "0979abadc48e9cf2"
            ]
        ]
    },
    {
        "id": "5e41eb4758162015",
        "type": "http request",
        "z": "453d4ed1840b61b3",
        "name": "PoolGW Status",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "992b02cdffca7768",
                "e3c9025046c508a7"
            ]
        ]
    },
    {
        "id": "992b02cdffca7768",
        "type": "json",
        "z": "453d4ed1840b61b3",
        "name": "Parse JSON status",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "8f9c12e3ddf30c5f",
                "645698d745905dfe",
                "575a1dba6a94aead",
                "c6beb33a326420a4",
                "3639a6597edccf57",
                "dbce7001a1f4b15d",
                "916017d173767e75",
                "d14c7efb08db8aee",
                "361c3c17306a7b94",
                "0b8374653f66d063",
                "7e5bccea42d42972",
                "30ae8b121289b6bd",
                "b7640aa1fc057ec4",
                "910531dc96b39aa7",
                "3199e5bacc1b1a2e",
                "9e8e3c929ebbdfa7"
            ]
        ]
    },
    {
        "id": "a396f71ae0a96dbe",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "name": "Water Temp Guage",
        "group": "fcf5df1a.8e1d7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Temp",
        "label": "F",
        "format": "{{msg.value}}",
        "min": "50",
        "max": "90",
        "colors": [
            "#0c00b3",
            "#e600c7",
            "#cb3a3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "8f9c12e3ddf30c5f",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "MainPump Button Setup",
        "func": "\nmsg.topicSet = msg.payload.MainPump.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Pump OFF\";\nmsg.textOFF= \"Pump ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"off\\\"}}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 240,
        "wires": [
            [
                "2b838cdc300232a5"
            ]
        ]
    },
    {
        "id": "645698d745905dfe",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "Booster Pump Button Setup",
        "func": "msg.topicSet = msg.payload.Booster.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Boost OFF\";\nmsg.textOFF= \"Boost ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"Booster\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"Booster\\\": \\\"off\\\"}}\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "82258165bdbab319"
            ]
        ]
    },
    {
        "id": "575a1dba6a94aead",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "SWG Button Setup",
        "func": "\nmsg.topicSet = msg.payload.IC40.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"SWG OFF\";\nmsg.textOFF= \"SWG ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"IC40\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"IC40\\\": \\\"off\\\"}}\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 320,
        "wires": [
            [
                "e09b0272c9bc151d"
            ]
        ]
    },
    {
        "id": "c6beb33a326420a4",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "Lighting Setup",
        "func": "\nmsg.topicSet = msg.payload.Lighting.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Lighting OFF\";\nmsg.textOFF= \"Lighting ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"off\\\"}}\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 360,
        "wires": [
            [
                "5342cdfcb194765a"
            ]
        ]
    },
    {
        "id": "2b838cdc300232a5",
        "type": "subflow:9a752d9f3ed96cc3",
        "z": "453d4ed1840b61b3",
        "name": "",
        "env": [],
        "x": 420,
        "y": 240,
        "wires": [
            [
                "426c0e53bbe60375"
            ]
        ]
    },
    {
        "id": "82258165bdbab319",
        "type": "subflow:9a752d9f3ed96cc3",
        "z": "453d4ed1840b61b3",
        "name": "",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "426c0e53bbe60375"
            ]
        ]
    },
    {
        "id": "e09b0272c9bc151d",
        "type": "subflow:9a752d9f3ed96cc3",
        "z": "453d4ed1840b61b3",
        "name": "",
        "env": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "426c0e53bbe60375"
            ]
        ]
    },
    {
        "id": "5342cdfcb194765a",
        "type": "subflow:9a752d9f3ed96cc3",
        "z": "453d4ed1840b61b3",
        "name": "",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "426c0e53bbe60375"
            ]
        ]
    },
    {
        "id": "5d568ff666075b3b",
        "type": "http request",
        "z": "453d4ed1840b61b3",
        "name": "Send Control request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 240,
        "wires": [
            [
                "0979abadc48e9cf2"
            ]
        ]
    },
    {
        "id": "3639a6597edccf57",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "C to  F",
        "func": "msg.value = parseFloat(msg.payload.DS18B20.HeatPumpInTemp);\nmsg.value = msg.value*1.8+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "a396f71ae0a96dbe"
            ]
        ]
    },
    {
        "id": "f805e4fdf76d6efa",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "d": true,
        "name": "Temp of Sensor Case",
        "group": "7f4e9037.c0a4c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "InPool Sensor Temp",
        "label": "units",
        "format": "{{msg.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 500,
        "wires": []
    },
    {
        "id": "ce27b41ca7af93be",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "d": true,
        "name": "Humidity in Sensor Case",
        "group": "7f4e9037.c0a4c",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 540,
        "wires": []
    },
    {
        "id": "dbce7001a1f4b15d",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "d": true,
        "name": "WirelessCase Temp",
        "func": "msg.value = parseFloat(msg.payload.Wireless.CaseTemp);\nmsg.value = msg.value*1.8+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 500,
        "wires": [
            [
                "f805e4fdf76d6efa"
            ]
        ]
    },
    {
        "id": "91e2ffc19b970d67",
        "type": "comment",
        "z": "453d4ed1840b61b3",
        "name": "Equipment Status",
        "info": "Display equipment status and schedule details.\n",
        "x": 150,
        "y": 460,
        "wires": []
    },
    {
        "id": "916017d173767e75",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "d": true,
        "name": "Parse Humidity",
        "func": "msg.value = parseFloat(msg.payload.Wireless.CaseHum);\nmsg.value = msg.value.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 540,
        "wires": [
            [
                "ce27b41ca7af93be"
            ]
        ]
    },
    {
        "id": "013b2b78b056a699",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "d": true,
        "name": "Sensor Recived Signal Strength",
        "group": "7f4e9037.c0a4c",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Signal Strength",
        "label": "dbm",
        "format": "{{msg.value}}",
        "min": "-100",
        "max": "0",
        "colors": [
            "#b30003",
            "#e6e600",
            "#52cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "5a88a0e2fa644642",
        "type": "ui_text",
        "z": "453d4ed1840b61b3",
        "d": true,
        "group": "7f4e9037.c0a4c",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Water Sensor Update Time",
        "format": "{{msg.value}}",
        "layout": "col-center",
        "x": 490,
        "y": 620,
        "wires": []
    },
    {
        "id": "f401ec9790250d5c",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "name": "Controller Case Temp",
        "group": "7f4e9037.c0a4c",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Controller Temp",
        "label": "F",
        "format": "{{msg.value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 470,
        "y": 660,
        "wires": []
    },
    {
        "id": "d14c7efb08db8aee",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "Controller Enclosure Temp",
        "func": "msg.value = parseFloat(msg.payload.SI7021.ControllerTemp);\nmsg.value = msg.value*1.80+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 660,
        "wires": [
            [
                "f401ec9790250d5c"
            ]
        ]
    },
    {
        "id": "e87124be0afca49b",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "name": "Controller case humidity",
        "group": "7f4e9037.c0a4c",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Controller Humidity",
        "label": "%",
        "format": "{{msg.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 480,
        "y": 700,
        "wires": []
    },
    {
        "id": "361c3c17306a7b94",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "Controller Enclosure Humidity",
        "func": "msg.value = parseFloat(msg.payload.SI7021.ControllerHum)\nmsg.value = msg.value.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 700,
        "wires": [
            [
                "e87124be0afca49b"
            ]
        ]
    },
    {
        "id": "459ff625a7c4456f",
        "type": "catch",
        "z": "453d4ed1840b61b3",
        "name": "Catch Errors",
        "scope": null,
        "uncaught": false,
        "x": 1040,
        "y": 60,
        "wires": [
            [
                "e3c9025046c508a7"
            ]
        ]
    },
    {
        "id": "e3c9025046c508a7",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "StatusResponse",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "910531dc96b39aa7",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "d": true,
        "name": "Validate Signal Strength",
        "func": "msg.value = msg.payload.Wireless.Signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 580,
        "wires": [
            [
                "013b2b78b056a699"
            ]
        ]
    },
    {
        "id": "0b8374653f66d063",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "d": true,
        "name": "Validate Time",
        "func": "if ( msg.payload.DS18B20.Time === \"1969-12-31 18:00:00\")\n    msg.value = \"Sensor is not updating\";\nelse\n    msg.value = msg.payload.DS18B20.Time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 620,
        "wires": [
            [
                "5a88a0e2fa644642"
            ]
        ]
    },
    {
        "id": "f7115c8ecb8e53cb",
        "type": "subflow:93d4e1ad9cc5a22f",
        "z": "453d4ed1840b61b3",
        "name": "",
        "x": 850,
        "y": 480,
        "wires": []
    },
    {
        "id": "0979abadc48e9cf2",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "Status URL",
        "func": "var url=env.get(\"poolgwurl\");\nmsg.url = url + \"/status\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "5e41eb4758162015"
            ]
        ]
    },
    {
        "id": "bc9a00f87a2d56cf",
        "type": "ui_ui_control",
        "z": "453d4ed1840b61b3",
        "name": "Refresh on change",
        "events": "all",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "b8b7253a4cd23a02"
            ]
        ]
    },
    {
        "id": "426c0e53bbe60375",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "Set URL",
        "func": "var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/set\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "5d568ff666075b3b"
            ]
        ]
    },
    {
        "id": "b8b7253a4cd23a02",
        "type": "switch",
        "z": "453d4ed1840b61b3",
        "name": "Check Pool Tab",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Pool",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "0979abadc48e9cf2"
            ]
        ]
    },
    {
        "id": "7e5bccea42d42972",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "HeatPumpInTemp",
        "func": "msg.value = parseFloat(msg.payload.DS18B20.HeatPumpInTemp);\nmsg.value = msg.value*1.80+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "417d2875b459693a"
            ]
        ]
    },
    {
        "id": "30ae8b121289b6bd",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "HeatPumpOutTemp",
        "func": "msg.value = parseFloat(msg.payload.DS18B20.HeatPumpOutTemp);\nmsg.value = msg.value*1.8+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "01777dd36d442508"
            ]
        ]
    },
    {
        "id": "b7640aa1fc057ec4",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "AirTemp",
        "func": "msg.value = parseFloat(msg.payload.DS18B20.AirTemp);\nmsg.value = msg.value*1.8+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "7248e80b2a5dd425"
            ]
        ]
    },
    {
        "id": "417d2875b459693a",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "name": "HeatPumpInTemp",
        "group": "7f4e9037.c0a4c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HeatPumpIn",
        "label": "F",
        "format": "{{msg.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 740,
        "wires": []
    },
    {
        "id": "01777dd36d442508",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "name": "HeatPumpOutTemp",
        "group": "7f4e9037.c0a4c",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HeatPumpOut",
        "label": "F",
        "format": "{{msg.value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 780,
        "wires": []
    },
    {
        "id": "7248e80b2a5dd425",
        "type": "ui_gauge",
        "z": "453d4ed1840b61b3",
        "name": "AirTemp",
        "group": "7f4e9037.c0a4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "AirTemp",
        "label": "F",
        "format": "{{msg.value}}",
        "min": 0,
        "max": "110",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 430,
        "y": 820,
        "wires": []
    },
    {
        "id": "39f0160da6b12f97",
        "type": "catch",
        "z": "453d4ed1840b61b3",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 760,
        "y": 680,
        "wires": [
            [
                "1444ac20196a6737"
            ]
        ]
    },
    {
        "id": "1444ac20196a6737",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 680,
        "wires": []
    },
    {
        "id": "04343a01dc1e27bd",
        "type": "ui_text",
        "z": "453d4ed1840b61b3",
        "group": "a44a11b0.ad642",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heat Pump",
        "format": "<font face='arial'><font color={{msg.fcolor}}>{{msg.payload.HeatPump.heat}}",
        "layout": "row-left",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "3199e5bacc1b1a2e",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "HPOnOff",
        "func": "if ( msg.payload.HeatPump.heat == \"Running\") {\n    msg.fcolor = \"green\";\n} else if (msg.payload.HeatPump.heat == \"Standby\") {\n    msg.fcolor = \"yellow\";\n} else {\n    msg.fcolor = \"black\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 420,
        "wires": [
            [
                "04343a01dc1e27bd",
                "bdc7c06ca19ad147"
            ]
        ]
    },
    {
        "id": "bdc7c06ca19ad147",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "HeatPUmpONOFF",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "172f2f1d09480a35",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 1300,
        "wires": []
    },
    {
        "id": "2fe261d2fbc725af",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "BuildSetSched",
        "func": "var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/setSched\";\nvar startTime = msg.payload.mpStartTime;\nvar stopTime = msg.payload.mpStopTime;\nmsg.payload = {\n    MainPump: {Start: startTime, Stop: stopTime},\n    IC40: {Start: msg.payload.icStartTime, Stop: msg.payload.icStopTime},\n    Booster: {Start: msg.payload.boostStartTime, Stop: msg.payload.boostStopTime},\n    Lighting: {Start: msg.payload.lightStartTime, Stop: msg.payload.lightStopTime}\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 1240,
        "wires": [
            [
                "172f2f1d09480a35",
                "6fab9c4f2e22f9f6"
            ]
        ]
    },
    {
        "id": "6a3aa68f7f61e3a3",
        "type": "ui_form",
        "z": "453d4ed1840b61b3",
        "name": "ScheduleInput",
        "label": "ScheduleInput",
        "group": "92f6daf9.4f0d88",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "MainPump Start",
                "value": "mpStartTime",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "MainPump Stop",
                "value": "mpStopTime",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "IC40 Start",
                "value": "icStartTime",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "IC40 Stop",
                "value": "icStopTime",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Booster Start",
                "value": "boostStartTime",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Booster Stop",
                "value": "boostStopTime",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Light Start",
                "value": "lightStartTime",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Light Stop",
                "value": "lightStopTime",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "mpStartTime": "",
            "mpStopTime": "",
            "icStartTime": "",
            "icStopTime": "",
            "boostStartTime": "",
            "boostStopTime": "",
            "lightStartTime": "",
            "lightStopTime": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "x": 320,
        "y": 1180,
        "wires": [
            [
                "2fe261d2fbc725af"
            ]
        ]
    },
    {
        "id": "6fab9c4f2e22f9f6",
        "type": "http request",
        "z": "453d4ed1840b61b3",
        "name": "Post Schedules",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "9cb62a3dab3d0d01"
            ]
        ]
    },
    {
        "id": "6539943df5489077",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "SetValues",
        "func": "\nmsg.payload =\n{\n mpStartTime:msg.payload.Schedule.MainPump.Start, mpStopTime:msg.payload.Schedule.MainPump.Stop,\n icStartTime:msg.payload.Schedule.IC40.Start, icStopTime:msg.payload.Schedule.IC40.Stop,\n boostStartTime:msg.payload.Schedule.Booster.Start, boostStopTime:msg.payload.Schedule.Booster.Stop,\n lightStartTime:msg.payload.Schedule.Lighting.Start, lightStopTime:msg.payload.Schedule.Lighting.Stop\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1180,
        "wires": [
            [
                "6a3aa68f7f61e3a3"
            ]
        ]
    },
    {
        "id": "9cb62a3dab3d0d01",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c67267f9e2304a8b",
        "type": "http request",
        "z": "453d4ed1840b61b3",
        "name": "HTTP /sched",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 1040,
        "wires": [
            [
                "6539943df5489077",
                "81731b3f28f4ca94"
            ]
        ]
    },
    {
        "id": "ad346eebdb679a08",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "SchedURL",
        "func": "var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/sched\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 980,
        "wires": [
            [
                "c67267f9e2304a8b"
            ]
        ]
    },
    {
        "id": "3985d0a6ca8adba5",
        "type": "switch",
        "z": "453d4ed1840b61b3",
        "name": "Check Schedule Tab",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Schedule",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 920,
        "wires": [
            [
                "ad346eebdb679a08"
            ]
        ]
    },
    {
        "id": "7971bfcb5cb17cda",
        "type": "ui_ui_control",
        "z": "453d4ed1840b61b3",
        "name": "",
        "events": "change",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "3985d0a6ca8adba5"
            ]
        ]
    },
    {
        "id": "1d7978dd28d60dfc",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "RunSchedule Button Setup",
        "func": "\nmsg.topicSet = msg.payload.Schedule.RunSchedule;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Disable Schedule\";\nmsg.textOFF= \"Run Schedule\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"RunSchedule\\\": \\\"true\\\"}\";\nmsg.payloadOFF= \"{\\\"RunSchedule\\\": \\\"false\\\"}\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "9f55a4fe27b30d0c",
                "4a74a0fb19edf8a1"
            ]
        ]
    },
    {
        "id": "7bcf3b3ec5f5bc3f",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "Set URL",
        "func": "var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/runSchedule\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1760,
        "wires": [
            [
                "259e9fabdc03af03",
                "37603168c0336c7e"
            ]
        ]
    },
    {
        "id": "259e9fabdc03af03",
        "type": "http request",
        "z": "453d4ed1840b61b3",
        "name": "Send RunSchedule request",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 1760,
        "wires": [
            [
                "37603168c0336c7e"
            ]
        ]
    },
    {
        "id": "37603168c0336c7e",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "ControlReq",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1660,
        "wires": []
    },
    {
        "id": "81731b3f28f4ca94",
        "type": "json",
        "z": "453d4ed1840b61b3",
        "name": "Parse JSON status",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 1040,
        "wires": [
            [
                "1d7978dd28d60dfc",
                "d418ac22b1a7ec4c"
            ]
        ]
    },
    {
        "id": "9f55a4fe27b30d0c",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "Run Schedule Button  Setup",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 1460,
        "wires": []
    },
    {
        "id": "4a74a0fb19edf8a1",
        "type": "function",
        "z": "453d4ed1840b61b3",
        "name": "Initialize-switch button state",
        "func": "\nvar state = context.get(\"state\")||false;\n\n//  Look for a !X message to get values -- no button push.\nif ( msg.topicSet == \"false\" || msg.topicSet == \"true\"){\n    context.set(\"colourOFF\", msg.colourOFF);\n    context.set(\"colourON\", msg.colourON);\n    context.set(\"textOFF\", msg.textOFF);\n    context.set(\"textON\", msg.textON);\n    context.set(\"fontOFF\", msg.fontOFF);\n    context.set(\"fortON\", msg.fontON);\n    context.set(\"payloadOFF\", msg.payloadOFF);\n    context.set(\"payloadON\", msg.payloadON);\n    state = msg.topicSet;\n}\n// If button pushed change state.\nif ( msg.payload == \"X\" )\n{\n    if (state == \"false\") {\n        state = \"true\";\n    } else { // topicSet should be \"STOP\"\n        state = \"false\"\n    }\n    context.set(\"state\", state);\n}\nif (state == \"false\")\n{\n    //  Condition false\n    msg.payload = context.get(\"payloadOFF\");\n    msg.colour = context.get(\"colourOFF\");\n    msg.txt = context.get(\"textOFF\");\n    msg.fontclr = context.get(\"fontOFF\");\n} else\n{\n    //  Condition true\n    msg.payload = context.get(\"payloadON\");\n    msg.colour = context.get(\"colourON\");\n    msg.txt = context.get(\"textON\");\n    msg.fontclr = context.get(\"fontON\");\n}\n \nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 1560,
        "wires": [
            [
                "9be918e2a8666043",
                "4a39fa231d65f869",
                "a6fd2463ec66f299"
            ]
        ]
    },
    {
        "id": "9be918e2a8666043",
        "type": "ui_button",
        "z": "453d4ed1840b61b3",
        "name": "ToggleButton",
        "group": "92f6daf9.4f0d88",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "{{msg.txt}}",
        "tooltip": "",
        "color": "{{msg.fontclr}}",
        "bgcolor": "{{msg.colour}}",
        "icon": "",
        "payload": "X",
        "payloadType": "str",
        "topic": "CONTROL",
        "topicType": "str",
        "x": 170,
        "y": 1660,
        "wires": [
            [
                "4a74a0fb19edf8a1"
            ]
        ]
    },
    {
        "id": "4a39fa231d65f869",
        "type": "switch",
        "z": "453d4ed1840b61b3",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CONTROL",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "CONTROL",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1660,
        "wires": [
            [
                "7bcf3b3ec5f5bc3f"
            ],
            []
        ]
    },
    {
        "id": "a6fd2463ec66f299",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "ToggleSetup",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1560,
        "wires": []
    },
    {
        "id": "5bf98194d9755ea7",
        "type": "comment",
        "z": "453d4ed1840b61b3",
        "name": "Schedule Tab",
        "info": "",
        "x": 110,
        "y": 880,
        "wires": []
    },
    {
        "id": "8e8b536f35fd3681",
        "type": "comment",
        "z": "453d4ed1840b61b3",
        "name": "Set Schedules for Equipment\\",
        "info": "",
        "x": 180,
        "y": 1140,
        "wires": []
    },
    {
        "id": "d12373d0e70e1415",
        "type": "comment",
        "z": "453d4ed1840b61b3",
        "name": "Toggle Run Schedule/Disable Schedule",
        "info": "",
        "x": 210,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d418ac22b1a7ec4c",
        "type": "change",
        "z": "453d4ed1840b61b3",
        "name": "HeatPumpSensor",
        "rules": [
            {
                "t": "set",
                "p": "HeatPumpSensor",
                "pt": "global",
                "to": "payload.Schedule.HeatPump.Sensor.State",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 920,
        "wires": [
            [
                "18430173d54fd9eb"
            ]
        ]
    },
    {
        "id": "18430173d54fd9eb",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "flow.HeatPumpSensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Schedule.HeatPump.Sensor.State",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 920,
        "wires": []
    },
    {
        "id": "9e8e3c929ebbdfa7",
        "type": "debug",
        "z": "453d4ed1840b61b3",
        "name": "JSON status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 140,
        "wires": []
    }
]