PoolControlRPi/node-red-flow/UIFlow.json
[{"id":"8a883d5b.b48aa","type":"subflow","name":"HeatPumpTemp","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"83ca98a7.6c7df8","type":"function","z":"8a883d5b.b48aa","name":"SensorsURL","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/sched\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":140,"wires":[["40b71959.85abb8"]]},{"id":"a9011e24.41df2","type":"function","z":"8a883d5b.b48aa","name":"SetTempValues","func":"msg.payload = Number(msg.payload.Schedule.HeatPump.Sensor.Temp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["c0c89f08.9fc92"]]},{"id":"a2d3dd54.431ca","type":"http request","z":"8a883d5b.b48aa","name":"HTTP /setSensors","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":280,"wires":[[]]},{"id":"40b71959.85abb8","type":"http request","z":"8a883d5b.b48aa","name":"HTTP Get Sensors","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":140,"wires":[["78f2e716.376258","a9011e24.41df2"]]},{"id":"6f8175ef.3af9cc","type":"ui_ui_control","z":"8a883d5b.b48aa","name":"Change Tab","events":"change","x":170,"y":40,"wires":[["338d3f0b.26a97"]]},{"id":"da4722e1.d1cc2","type":"function","z":"8a883d5b.b48aa","name":"setSensors payload","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/setSensors\";\nmsg.payload = {\n    HeatPump: {State: msg.payload},\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":200,"wires":[["a2d3dd54.431ca"]]},{"id":"45e04795.3d97d8","type":"ui_switch","z":"8a883d5b.b48aa","name":"HeatPump On/Off","label":"Heat","tooltip":"","group":"a44a11b0.ad642","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":490,"y":200,"wires":[["da4722e1.d1cc2"]]},{"id":"c0c89f08.9fc92","type":"ui_slider","z":"8a883d5b.b48aa","name":"Temp","label":"Temp","tooltip":"","group":"a44a11b0.ad642","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"70","max":"92","step":1,"x":890,"y":140,"wires":[["5b70e5fc.41da9c"]]},{"id":"5b70e5fc.41da9c","type":"function","z":"8a883d5b.b48aa","name":"setSensors Temp ","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/setSensors\";\nmsg.payload = {\n    HeatPump: {Temp: msg.payload},\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":140,"wires":[["a2d3dd54.431ca"]]},{"id":"78f2e716.376258","type":"function","z":"8a883d5b.b48aa","name":"Setup Switch","func":"msg.payload = msg.payload.Schedule.HeatPump.Sensor.State;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":200,"wires":[["45e04795.3d97d8"]]},{"id":"338d3f0b.26a97","type":"switch","z":"8a883d5b.b48aa","name":"Watch for Pool Tab","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Pool","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":80,"wires":[["83ca98a7.6c7df8"]]},{"id":"ef0003f6.d1dbe","type":"catch","z":"8a883d5b.b48aa","name":"","scope":null,"uncaught":false,"x":270,"y":520,"wires":[["6b02c79d.36fba8"]]},{"id":"6b02c79d.36fba8","type":"debug","z":"8a883d5b.b48aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":520,"wires":[]},{"id":"a44a11b0.ad642","type":"ui_group","name":"HeatPump","tab":"fa05bad.6060148","order":4,"disp":false,"width":"6","collapse":false},{"id":"875bcdba.94acc","type":"subflow","name":"Scheduling","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"1ac6dfe7.7f6f1","type":"function","z":"875bcdba.94acc","name":"SetValues","func":"msg.payload =\n{mpStartTime:msg.payload.Schedule.MainPump.Start, mpStopTime:msg.payload.Schedule.MainPump.Stop,\n icStartTime:msg.payload.Schedule.IC40.Start, icStopTime:msg.payload.Schedule.IC40.Stop,\n boostStartTime:msg.payload.Schedule.Booster.Start, boostStopTime:msg.payload.Schedule.Booster.Stop,\n lightStartTime:msg.payload.Schedule.Lighting.Start, lightStopTime:msg.payload.Schedule.Lighting.Stop\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["b31b8db8.c8e96"]]},{"id":"ecbd143b.889828","type":"debug","z":"875bcdba.94acc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"170de635.a7f50a","type":"function","z":"875bcdba.94acc","name":"SchedURL","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/sched\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":100,"wires":[["dcd4e1e4.7a913"]]},{"id":"dcd4e1e4.7a913","type":"http request","z":"875bcdba.94acc","name":"GetSchedules","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":160,"wires":[["ecbd143b.889828","1ac6dfe7.7f6f1"]]},{"id":"c33fad20.03622","type":"ui_ui_control","z":"875bcdba.94acc","name":"","events":"change","x":140,"y":40,"wires":[["484a98e.27eb268"]]},{"id":"b31b8db8.c8e96","type":"ui_form","z":"875bcdba.94acc","name":"ScheduleInput","label":"ScheduleInput","group":"92f6daf9.4f0d88","order":5,"width":0,"height":0,"options":[{"label":"MainPump Start","value":"mpStartTime","type":"text","required":true,"rows":null},{"label":"MainPump Stop","value":"mpStopTime","type":"text","required":true,"rows":null},{"label":"IC40 Start","value":"icStartTime","type":"text","required":true,"rows":null},{"label":"IC40 Stop","value":"icStopTime","type":"text","required":true,"rows":null},{"label":"Booster Start","value":"boostStartTime","type":"text","required":true,"rows":null},{"label":"Booster Stop","value":"boostStopTime","type":"text","required":true,"rows":null},{"label":"Light Start","value":"lightStartTime","type":"text","required":true,"rows":null},{"label":"Light Stop","value":"lightStopTime","type":"text","required":true,"rows":null}],"formValue":{"mpStartTime":"","mpStopTime":"","icStartTime":"","icStopTime":"","boostStartTime":"","boostStopTime":"","lightStartTime":"","lightStopTime":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":"","x":630,"y":300,"wires":[["81c6f8ee.4e6a78"]]},{"id":"81c6f8ee.4e6a78","type":"function","z":"875bcdba.94acc","name":"BuildSetSched","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/setSched\";\nvar startTime = msg.payload.mpStartTime;\nvar stopTime = msg.payload.mpStopTime;\nmsg.payload = {MainPump: {Start: startTime, Stop: stopTime},\n    IC40: {Start: msg.payload.icStartTime, Stop: msg.payload.icStopTime},\n    Booster: {Start: msg.payload.boostStartTime, Stop: msg.payload.boostStopTime},\n    Lighting: {Start: msg.payload.lightStartTime, Stop: msg.payload.lightStopTime}\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":500,"wires":[["48b3d162.6f321","3c0096ff.2fbcfa"]]},{"id":"3c0096ff.2fbcfa","type":"http request","z":"875bcdba.94acc","name":"SetSched","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":500,"wires":[["e8381774.bdc358"]]},{"id":"48b3d162.6f321","type":"debug","z":"875bcdba.94acc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":600,"wires":[]},{"id":"e8381774.bdc358","type":"debug","z":"875bcdba.94acc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":500,"wires":[]},{"id":"484a98e.27eb268","type":"switch","z":"875bcdba.94acc","name":"Check Schedule Tab","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Schedule","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":40,"wires":[["170de635.a7f50a"]]},{"id":"92f6daf9.4f0d88","type":"ui_group","name":"Sched","tab":"6043f90a.e67ea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6043f90a.e67ea8","type":"ui_tab","name":"Schedule","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"11d2a015.f810e","type":"subflow","name":"ToggleButton","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"4c5e9210.bdcbec"}]}],"out":[{"x":700,"y":140,"wires":[{"id":"9ae0e89a.ec9e88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4c5e9210.bdcbec","type":"function","z":"11d2a015.f810e","name":"Initialize-switch button state","func":"\nvar state = context.get(\"state\")||\"OFF\";\n\n//  Look for a !X message to get values -- no button push.\nif ( msg.topicSet == \"ON\" || msg.topicSet == \"OFF\"){\n    context.set(\"colourOFF\", msg.colourOFF);\n    context.set(\"colourON\", msg.colourON);\n    context.set(\"textOFF\", msg.textOFF);\n    context.set(\"textON\", msg.textON);\n    context.set(\"fontOFF\", msg.fontOFF);\n    context.set(\"fortON\", msg.fontON);\n    context.set(\"payloadOFF\", msg.payloadOFF);\n    context.set(\"payloadON\", msg.payloadON);\n    state = msg.topicSet;\n}\n// If button pushed change state.\nif ( msg.payload == \"X\" )\n{\n    if (state == \"OFF\") {\n        state = \"ON\";\n    } else { // topicSet should be \"STOP\"\n        state = \"OFF\"\n    }\n    context.set(\"state\", state);\n}\nif (state == \"OFF\")\n{\n    //  Condition OFF\n    msg.payload = context.get(\"payloadOFF\");\n    msg.colour = context.get(\"colourOFF\");\n    msg.txt = context.get(\"textOFF\");\n    msg.fontclr = context.get(\"fontOFF\");\n} else\n{\n    //  Condition ON\n    msg.payload = context.get(\"payloadON\");\n    msg.colour = context.get(\"colourON\");\n    msg.txt = context.get(\"textON\");\n    msg.fontclr = context.get(\"fontON\");\n}\n \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["d9f4f95e.4e9ce8","9ae0e89a.ec9e88"]]},{"id":"d9f4f95e.4e9ce8","type":"ui_button","z":"11d2a015.f810e","name":"ToggleButton","group":"4dc73966.be52d8","order":0,"width":"3","height":"1","passthru":false,"label":"{{msg.txt}}","tooltip":"","color":"{{msg.fontclr}}","bgcolor":"{{msg.colour}}","icon":"","payload":"X","payloadType":"str","topic":"CONTROL","topicType":"str","x":330,"y":220,"wires":[["4c5e9210.bdcbec"]]},{"id":"9ae0e89a.ec9e88","type":"switch","z":"11d2a015.f810e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"CONTROL","vt":"str"},{"t":"neq","v":"CONTROL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":140,"wires":[[],[]]},{"id":"4dc73966.be52d8","type":"ui_group","name":"Control","tab":"fa05bad.6060148","order":2,"disp":false,"width":"6","collapse":false},{"id":"fa05bad.6060148","type":"ui_tab","name":"Pool","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f84501ae.f8f44","type":"tab","label":"PoolSmartz","disabled":false,"info":""},{"id":"4427379b.2ed4b8","type":"inject","z":"f84501ae.f8f44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":160,"y":80,"wires":[["94365ea5.6bb09"]]},{"id":"7faeb2d4.005a8c","type":"http request","z":"f84501ae.f8f44","name":"PoolGW Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":80,"wires":[["7e487a04.bf7834","6a1f0ff9.64c95"]]},{"id":"7e487a04.bf7834","type":"json","z":"f84501ae.f8f44","name":"Parse JSON status","property":"payload","action":"obj","pretty":false,"x":190,"y":160,"wires":[["114d9021.f75fb","145bdd69.da3fe3","a93ffc93.9d2dc","4cdf5c08.b6b2a4","360df633.920892","f95a6dba.47e8c","64207ea6.c25c","d89b943b.76a888","29d04c31.838f44","c0fc2170.ee16c","ec76c1a2.c5f","6e5b161f.b6edb8","f0d4639b.a4849","f2bf963a.57a308"]]},{"id":"e742e372.cdcde","type":"ui_gauge","z":"f84501ae.f8f44","name":"Water Temp Guage","group":"fcf5df1a.8e1d7","order":0,"width":0,"height":0,"gtype":"gage","title":"Water Temp","label":"F","format":"{{msg.value}}","min":"50","max":"90","colors":["#0c00b3","#e600c7","#cb3a3a"],"seg1":"","seg2":"","x":630,"y":160,"wires":[]},{"id":"114d9021.f75fb","type":"function","z":"f84501ae.f8f44","name":"MainPump Button Setup","func":"\nmsg.topicSet = msg.payload.MainPump.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Pump OFF\";\nmsg.textOFF= \"Pump ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"MainPump\\\": \\\"off\\\"}}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":220,"wires":[["59505ae3.634584"]]},{"id":"145bdd69.da3fe3","type":"function","z":"f84501ae.f8f44","name":"Booster Pump Button Setup","func":"msg.topicSet = msg.payload.Booster.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Boost OFF\";\nmsg.textOFF= \"Boost ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"Booster\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"Booster\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":260,"wires":[["e6324e00.f4efd"]]},{"id":"a93ffc93.9d2dc","type":"function","z":"f84501ae.f8f44","name":"SWG Button Setup","func":"\nmsg.topicSet = msg.payload.IC40.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"SWG OFF\";\nmsg.textOFF= \"SWG ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"IC40\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"IC40\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":300,"wires":[["419b43fe.b075dc"]]},{"id":"4cdf5c08.b6b2a4","type":"function","z":"f84501ae.f8f44","name":"Lighting Setup","func":"\nmsg.topicSet = msg.payload.Lighting.status;\nmsg.topic=\"INITIALIZE\";\nmsg.colourON= \"red\";\nmsg.colourOFF= \"green\";\nmsg.textON= \"Lighting OFF\";\nmsg.textOFF= \"Lighting ON\";\nmsg.fontON= \"black\";\nmsg.fontOFF= \"black\";\nmsg.payloadON= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"on\\\"}}\";\nmsg.payloadOFF= \"{\\\"Set\\\":{\\\"Lighting\\\": \\\"off\\\"}}\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":340,"wires":[["ac471ed5.12dd6"]]},{"id":"59505ae3.634584","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","env":[],"x":430,"y":220,"wires":[["e87f2024.d766"]]},{"id":"e6324e00.f4efd","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":430,"y":260,"wires":[["e87f2024.d766"]]},{"id":"419b43fe.b075dc","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","env":[],"x":430,"y":300,"wires":[["e87f2024.d766"]]},{"id":"ac471ed5.12dd6","type":"subflow:11d2a015.f810e","z":"f84501ae.f8f44","name":"","x":430,"y":340,"wires":[["e87f2024.d766"]]},{"id":"1ce0f5e7.a69b9a","type":"http request","z":"f84501ae.f8f44","name":"Send Control request","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":220,"wires":[["c273c356.e3afc","94365ea5.6bb09"]]},{"id":"c273c356.e3afc","type":"debug","z":"f84501ae.f8f44","name":"ControlReq","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":320,"wires":[]},{"id":"360df633.920892","type":"function","z":"f84501ae.f8f44","name":"C to  F","func":"msg.value = parseFloat(msg.payload.DS18B20.HeatPumpInTemp);\nmsg.value = msg.value*1.8+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":160,"wires":[["e742e372.cdcde"]]},{"id":"b68fb4d5.e5a418","type":"ui_gauge","z":"f84501ae.f8f44","name":"Temp of Sensor Case","group":"7f4e9037.c0a4c","order":2,"width":0,"height":0,"gtype":"gage","title":"InPool Sensor Temp","label":"units","format":"{{msg.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":480,"wires":[]},{"id":"9fe57af7.d0fa98","type":"ui_gauge","z":"f84501ae.f8f44","name":"Humidity in Sensor Case","group":"7f4e9037.c0a4c","order":3,"width":0,"height":0,"gtype":"gage","title":"Sensor Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":520,"wires":[]},{"id":"f95a6dba.47e8c","type":"function","z":"f84501ae.f8f44","name":"WirelessCase Temp","func":"msg.value = parseFloat(msg.payload.Wireless.CaseTemp);\nmsg.value = msg.value*1.8+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":480,"wires":[["b68fb4d5.e5a418"]]},{"id":"1abffca4.8d4f13","type":"comment","z":"f84501ae.f8f44","name":"Equipment Status","info":"Display equipment status and schedule details.\n","x":160,"y":440,"wires":[]},{"id":"64207ea6.c25c","type":"function","z":"f84501ae.f8f44","name":"Parse Humidity","func":"msg.value = parseFloat(msg.payload.Wireless.CaseHum);\nmsg.value = msg.value.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":520,"wires":[["9fe57af7.d0fa98"]]},{"id":"a5dcbd27.4cbf4","type":"ui_gauge","z":"f84501ae.f8f44","name":"Sensor Recived Signal Strength","group":"7f4e9037.c0a4c","order":6,"width":0,"height":0,"gtype":"gage","title":"Signal Strength","label":"dbm","format":"{{msg.value}}","min":"-100","max":"0","colors":["#b30003","#e6e600","#52cb3a"],"seg1":"","seg2":"","x":510,"y":560,"wires":[]},{"id":"fb5e3276.2cab9","type":"ui_text","z":"f84501ae.f8f44","group":"7f4e9037.c0a4c","order":7,"width":0,"height":0,"name":"","label":"Water Sensor Update Time","format":"{{msg.value}}","layout":"col-center","x":500,"y":600,"wires":[]},{"id":"2f889ef7.a31462","type":"ui_gauge","z":"f84501ae.f8f44","name":"Controller Case Temp","group":"7f4e9037.c0a4c","order":8,"width":0,"height":0,"gtype":"gage","title":"Controller Temp","label":"F","format":"{{msg.value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":640,"wires":[]},{"id":"d89b943b.76a888","type":"function","z":"f84501ae.f8f44","name":"Controller Enclosure Temp","func":"msg.value = parseFloat(msg.payload.SI7021.ControllerTemp);\nmsg.value = msg.value*1.80+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":640,"wires":[["2f889ef7.a31462"]]},{"id":"fb050023.ed04a","type":"ui_gauge","z":"f84501ae.f8f44","name":"Controller case humidity","group":"7f4e9037.c0a4c","order":9,"width":0,"height":0,"gtype":"gage","title":"Controller Humidity","label":"%","format":"{{msg.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":680,"wires":[]},{"id":"29d04c31.838f44","type":"function","z":"f84501ae.f8f44","name":"Controller Enclosure Humidity","func":"msg.value = parseFloat(msg.payload.SI7021.ControllerHum)\nmsg.value = msg.value.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":680,"wires":[["fb050023.ed04a"]]},{"id":"69b29a8d.5df6e4","type":"catch","z":"f84501ae.f8f44","name":"Catch Errors","scope":null,"uncaught":false,"x":1050,"y":40,"wires":[["6a1f0ff9.64c95"]]},{"id":"6a1f0ff9.64c95","type":"debug","z":"f84501ae.f8f44","name":"StatusResponse","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":80,"wires":[]},{"id":"f2bf963a.57a308","type":"function","z":"f84501ae.f8f44","name":"Validate Signal Strength","func":"msg.value = msg.payload.Wireless.Signal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":560,"wires":[["a5dcbd27.4cbf4"]]},{"id":"c0fc2170.ee16c","type":"function","z":"f84501ae.f8f44","name":"Validate Time","func":"if ( msg.payload.DS18B20.Time === \"1969-12-31 18:00:00\")\n    msg.value = \"Sensor is not updating\";\nelse\n    msg.value = msg.payload.DS18B20.Time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":600,"wires":[["fb5e3276.2cab9"]]},{"id":"f42fb7e8.974188","type":"subflow:875bcdba.94acc","z":"f84501ae.f8f44","name":"","x":840,"y":500,"wires":[]},{"id":"ab26696a.f2f848","type":"subflow:8a883d5b.b48aa","z":"f84501ae.f8f44","name":"","x":860,"y":460,"wires":[]},{"id":"94365ea5.6bb09","type":"function","z":"f84501ae.f8f44","name":"Status URL","func":"var url=env.get(\"poolgwurl\");\nmsg.url = url + \"/status\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[["7faeb2d4.005a8c"]]},{"id":"51403eb7.1a98e","type":"ui_ui_control","z":"f84501ae.f8f44","name":"Refresh on change","events":"all","x":130,"y":40,"wires":[["edec4d1.8ade8b"]]},{"id":"e87f2024.d766","type":"function","z":"f84501ae.f8f44","name":"Set URL","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/set\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":220,"wires":[["1ce0f5e7.a69b9a"]]},{"id":"edec4d1.8ade8b","type":"switch","z":"f84501ae.f8f44","name":"Check Pool Tab","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Pool","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":40,"wires":[["94365ea5.6bb09"]]},{"id":"ec76c1a2.c5f","type":"function","z":"f84501ae.f8f44","name":"HeatPumpInTemp","func":"msg.value = parseFloat(msg.payload.DS18B20.HeatPumpInTemp);\nmsg.value = msg.value*1.80+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":720,"wires":[["15da934f.894dbd"]]},{"id":"6e5b161f.b6edb8","type":"function","z":"f84501ae.f8f44","name":"HeatPumpOutTemp","func":"msg.value = parseFloat(msg.payload.DS18B20.HeatPumpOutTemp);\nmsg.value = msg.value*1.8+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":760,"wires":[["19f752c7.cc3c4d"]]},{"id":"f0d4639b.a4849","type":"function","z":"f84501ae.f8f44","name":"AirTemp","func":"msg.value = parseFloat(msg.payload.DS18B20.AirTemp);\nmsg.value = msg.value*1.8+32;\nmsg.value = msg.value.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":800,"wires":[["81781b72.47a458"]]},{"id":"15da934f.894dbd","type":"ui_gauge","z":"f84501ae.f8f44","name":"HeatPumpInTemp","group":"7f4e9037.c0a4c","order":4,"width":0,"height":0,"gtype":"gage","title":"HeatPumpIn","label":"F","format":"{{msg.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":720,"wires":[]},{"id":"19f752c7.cc3c4d","type":"ui_gauge","z":"f84501ae.f8f44","name":"HeatPumpOutTemp","group":"7f4e9037.c0a4c","order":5,"width":0,"height":0,"gtype":"gage","title":"HeatPumpOut","label":"F","format":"{{msg.value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":760,"wires":[]},{"id":"81781b72.47a458","type":"ui_gauge","z":"f84501ae.f8f44","name":"AirTemp","group":"7f4e9037.c0a4c","order":1,"width":0,"height":0,"gtype":"gage","title":"AirTemp","label":"F","format":"{{msg.value}}","min":0,"max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":800,"wires":[]},{"id":"3ab2f998.c2693e","type":"catch","z":"f84501ae.f8f44","name":"","scope":null,"uncaught":false,"x":770,"y":660,"wires":[["7a6690aa.7e825"]]},{"id":"7a6690aa.7e825","type":"debug","z":"f84501ae.f8f44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":660,"wires":[]},{"id":"fcf5df1a.8e1d7","type":"ui_group","name":"Status","tab":"fa05bad.6060148","order":1,"disp":false,"width":"6","collapse":false},{"id":"7f4e9037.c0a4c","type":"ui_group","name":"Equipment","tab":"2c2f3f43.feb09","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c2f3f43.feb09","type":"ui_tab","name":"Sensors","icon":"dashboard","order":3,"disabled":false,"hidden":false}]