PoolControlRPi/node-red-flow/UIFlow.json
[{"id":"8a883d5b.b48aa","type":"subflow","name":"HeatPumpTemp","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"83ca98a7.6c7df8","type":"function","z":"8a883d5b.b48aa","name":"SensorsURL","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/sched\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":140,"wires":[["40b71959.85abb8"]]},{"id":"a9011e24.41df2","type":"function","z":"8a883d5b.b48aa","name":"SetTempValues","func":"msg.payload = Number(msg.payload.Schedule.HeatPump.Sensor.Temp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":140,"wires":[["c0c89f08.9fc92"]]},{"id":"a2d3dd54.431ca","type":"http request","z":"8a883d5b.b48aa","name":"HTTP /setSensors","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":280,"wires":[[]]},{"id":"40b71959.85abb8","type":"http request","z":"8a883d5b.b48aa","name":"HTTP Get Sensors","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":140,"wires":[["78f2e716.376258","a9011e24.41df2"]]},{"id":"6f8175ef.3af9cc","type":"ui_ui_control","z":"8a883d5b.b48aa","name":"Change Tab","events":"change","x":170,"y":40,"wires":[["338d3f0b.26a97"]]},{"id":"da4722e1.d1cc2","type":"function","z":"8a883d5b.b48aa","name":"setSensors payload","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/setSensors\";\nmsg.payload = {\n    HeatPump: {State: msg.payload},\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":200,"wires":[["a2d3dd54.431ca"]]},{"id":"45e04795.3d97d8","type":"ui_switch","z":"8a883d5b.b48aa","name":"HeatPump On/Off","label":"Heat","tooltip":"","group":"a44a11b0.ad642","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":490,"y":200,"wires":[["da4722e1.d1cc2"]]},{"id":"c0c89f08.9fc92","type":"ui_slider","z":"8a883d5b.b48aa","name":"Temp","label":"Temp","tooltip":"","group":"a44a11b0.ad642","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"70","max":"92","step":1,"x":890,"y":140,"wires":[["5b70e5fc.41da9c"]]},{"id":"5b70e5fc.41da9c","type":"function","z":"8a883d5b.b48aa","name":"setSensors Temp ","func":"var url = env.get(\"poolgwurl\");\nmsg.url = url + \"/setSensors\";\nmsg.payload = {\n    HeatPump: {Temp: msg.payload},\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":140,"wires":[["a2d3dd54.431ca"]]},{"id":"78f2e716.376258","type":"function","z":"8a883d5b.b48aa","name":"Setup Switch","func":"msg.payload = msg.payload.Schedule.HeatPump.Sensor.State;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":200,"wires":[["45e04795.3d97d8"]]},{"id":"338d3f0b.26a97","type":"switch","z":"8a883d5b.b48aa","name":"Watch for Pool Tab","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"Pool","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":80,"wires":[["83ca98a7.6c7df8"]]},{"id":"ef0003f6.d1dbe","type":"catch","z":"8a883d5b.b48aa","name":"","scope":null,"uncaught":false,"x":270,"y":520,"wires":[["6b02c79d.36fba8"]]},{"id":"6b02c79d.36fba8","type":"debug","z":"8a883d5b.b48aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":520,"wires":[]},{"id":"a44a11b0.ad642","type":"ui_group","name":"HeatPump","tab":"fa05bad.6060148","order":4,"disp":false,"width":"6","collapse":false},{"id":"fa05bad.6060148","type":"ui_tab","name":"Pool","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ab26696a.f2f848","type":"subflow:8a883d5b.b48aa","z":"f84501ae.f8f44","name":"","x":860,"y":460,"wires":[]}]